<h1>Editing multi discount</h1>

<%= render "form", multi_discount: @multi_discount %>

<br>

<div>
  <%= link_to "Show this multi discount", @multi_discount %> |
  <%= link_to "Back to multi discounts", multi_discounts_path %>
</div>
