<% content_for :title, @title %>

<div class="text-sm breadcrumbs">
  <ul>
    <% if @category %>
        <li><%= link_to @category.name, category_products_path(@category)  %></li>
    <% end %>
    <% if @subcategory %>
        <li><%= link_to @subcategory.name, category_sub_category_products_path(@subcategory)  %></li>
    <% end %>
  </ul>
</div>

<%= render 'product_list' %>
